# Python
backend/venv/
__pycache__/
*.pyc

# Environment
.env
backend/.env

# Node
frontend/node_modules/

# Build
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Uploaded files
backend/uploads/

# Chroma Vector DB
backend/chroma_db/

# Python database files
*.db